body {
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow:  hidden;
}

.background {
    width: 900px;
    margin: 0 auto;
    perspective: 300px;
    position: relative;
    animation-name: animationText;
    /*transform: translateZ(-1px) scale(0.3);*/
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.title_text {
    font-family: Arial, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #f6e81a;
    text-align: center;
    transform-style: preserve-3d;
    transform: rotateX(20deg);
}

.main_text {
   text-align: left;
    margin-top: 50px;
    margin-bottom: 40px;
}

.main_text div {
    margin-top: 50px;
}

.background_bottom {
    width: 100%;
    height: 120px;
    background-color: black;
    position: fixed;
    bottom: 0;
}

@keyframes animationText {
     0% {top: 500px; transform: translateZ(-1px) scale(1); animation-timing-function: linear;}
     100% {top: -1300px; transform: translateZ(-1px) scale(0.3); animation-timing-function: linear; }
 }